*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-width: 1920px;

}